.outer {
  background-color: burlywood;
  padding: 0.3em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-y: auto;
  display: inline-block;
}

.clockline {
  background-color: green;
  padding: 0px;
  overflow: auto;
}

.clockline>button {
  background-color: #4caf50;
  border: 1px solid green;
  color: white;
  padding: 0.1em 0.7em;
  cursor: pointer;
  float: left;
}

.clocktitle {
  color: white;
  background-color: darkgreen;
  border: 1px solid green;
  font-weight: bold;
  padding: 0.1em 0.2em;
  margin-bottom: 0.3em;
}

.clockline+button {
  clear: left;
}

.hours {
  float: left;
}

.minutes {
  margin-left: 0.5em;
  float: left;
}

.clockline>select {
  margin: 1px auto;
}

.inputbutton {
  float: right;
  margin: 1px auto;
}